.container {
    display: grid;
    width: 100%;
    min-height: 250px;
    grid-template-areas: 
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-weight: bold;
    text-align: center;
}
.header {
    grid-area: header;
    background-color: lightgrey;
    padding-top: 30px;
}
.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
}
.main {
    grid-area: main;
    background-color: lightyellow;
    padding: 30px;
}
.aside {
    grid-area: aside;
    background-color: lightgreen;
    padding-top: 30px;
}
.more {
    width: 350px; 
    background-color:rgb(231, 206, 80);
    text-align: center;
    padding: 20px;
}
.more-big{
    display: grid;
    grid-column: 1/3;
    background-color:rgb(231, 206, 80);
    text-align: center;
    padding: 20px;
    width: 775px; 
} 
.footer {
    grid-area: footer;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: space-around;
}
.section1 {
    border: 1px black;
    background-color:white;
    text-align: center;
    padding: 20px;
}