.container {
    display: grid;
    width: 100%;
    min-height: 250px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 20% 1fr 20%;
    font-weight: bold;
    text-align: center;
}
.header {
    grid-area: header;
    background-color: lightgrey;
    padding-top: 30px;
}
.section {
    display: grid;
    grid-area: section;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    "text"
    "more"
    "morebig";
}
.main {
    grid-area: main;
    background-color: lightyellow;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "section"
    "aside"
}
.aside {
    grid-area: aside;
    background-color: lightgreen;
}
.more {
    grid-area: more;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; 
    text-align: center;
    padding: 20px;
    gap: 1rem;
}
.more_more1 {
    background-color:rgb(231, 206, 80);
    width: 100%;
    min-height: 30px;
}
.morebig{
    grid-area: morebig;
    background-color:rgb(231, 206, 80);
    text-align: center;
    padding: 15px;
    width: 100%; 
} 
.footer {
    grid-area: footer;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: space-around;
}
.section1 {
    border: 1px black;
    background-color:white;
    text-align: center;
    padding: 20px;
}
.text {
    grid-area: text;
}